@font-face {
  font-family: "OpenDyslexic";
  src: url("assets/opendyslexicmono-regular-webfont.woff");
}
main {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
label {
  margin-right: 10px;
}

a {
  color: #1890ff !important;
}
.ant-menu-dark.ant-menu-horizontal {
  flex-direction: row-reverse;
}

.ant-card-meta-description {
  height: 60px;
}

.ant-empty {
  margin-top: 20%;
  text-align: center;
}

.ant-menu-item:hover,
.ant-menu-item-selected {
  background-color: #2e3c43 !important;
}

.ant-input-affix-wrapper > input.ant-input {
  color: #fff;
}

.ant-form-item-control-input-content
  .ant-input-affix-wrapper
  > input.ant-input {
  color: #000;
}

.ant-btn-primary:focus {
  background: #1890ff;
}

.content-container {
  padding: 5% 10%;
}

@media screen and (max-width: 480px) {
  .left-sidebar {
    position: fixed;
  }
}

.divider {
  background-color: #2e3c43;
}

.dyslexia-font {
  font-family: "OpenDyslexic", sans-serif;
  font-size: 8;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 40%;
}

.messages-list {
  z-index: 0;
  height: 78vh;
  overflow-y: auto;
  margin-top: 20px;
  margin-left: 50px;
}
.messages-list + .chat-input-container {
  z-index: 1;
  position: absolute;
  bottom: 0;
  margin: 20px 0 10px 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 45%;
}

.bread-crumb {
  margin: 10px;
}

.direct-messages {
  height: 75vh;
  overflow-y: auto;
  margin-top: 20px;
  margin-left: 10%;
}
.direct-messages + .chat-input-container {
  margin-top: 5px;
  margin-left: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 70%;
}

.direct-messages .ant-empty {
  left: 50%;
}

.react-input-emoji--input {
  max-height: 50px;
}
/* making scrollbar visible */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #2e3c43;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
