.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
}

.ant-menu-dark.ant-menu-horizontal {
  flex-direction: row-reverse;
}

.ant-card-meta-description {
  height: 60px;
}

.ant-empty{
  position: absolute;
  left: 40%;
  top: 40%;
}

.ant-input-affix-wrapper>input.ant-input{
  color: #fff;
}

.ant-form-item-control-input-content .ant-input-affix-wrapper>input.ant-input {
  color: #000;
}

.messages-list {
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
  margin-top: 20px;
  margin-left: 230px;
}
.messages-list + .chat-input-container {
  margin-top: 5px;
  margin-left: 220px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 60%;
}

.direct-messages {
  min-height: 77vh;
  max-height: 77vh;
  overflow-y: auto;
  margin-top: 10px;
  margin-left: 10%;
}
.direct-messages + .chat-input-container {
  margin-top: 5px;
  margin-left: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 70%;
}

.direct-messages .ant-empty{
  left: 50%;
}

.react-input-emoji--input {
  max-height: 50px;
}

.spinner{
  position: absolute;
  left: 50%;
  top: 40%;
}

.bread-crumb{
  margin: 10px;
}

label {
  margin-right: 10px;
}