.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
}

.ant-menu-dark.ant-menu-horizontal {
  flex-direction: row-reverse;
}

.ant-card-meta-description {
  height: 60px;
}

.ant-empty{
  position: absolute;
  left: 40%;
  top: 40%;
}

.messages-list {
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
  margin-top: 10px;
  margin-left: 230px;
}

.react-input-emoji--input {
  max-height: 50px;
}

.chat-input-container {
  margin-top: 10px;
  margin-left: 220px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 60%;
}

.spinner{
  position: absolute;
  left: 50%;
  top: 40%;
}