.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 6% 6%;
}

.app-logo {
  width: 80%;
  height: 100%;
  margin: 2% 2% 2% -15%;
}

.login-form-button {
  margin-right: 5px;
}

.bg {
  height: 100%;
  width: 100%;
}
