.form-container {
  padding: 5% 20%;
}
.form-container div {
  margin-bottom: 10px;
}
.form-container .select {
  width: 100%;
}
.classroom-name {
  margin: 20% 0 20% 10%;
  color: #fff !important;
  text-overflow: ellipsis;
}
